/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900

.rubik-<uniquifier> {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/
/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.roboto-slab-<uniquifier> {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

